@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --pokeRed: hsl(350, 91%, 45%);
    --pokeBlu: hsl(203, 98%, 57%);
    --pokeGreen: hsl(129, 36%, 50%);
    --pokeYellow: hsl(48, 100%, 50%);
}

h1 a{
font-size: 80px;
color: var(--pokeYellow);
text-decoration: none;
}

h1 a:hover{
    text-decoration: underline;
}

main{
    margin: 50px;
    border-style:solid;
    border-width: 48px;
    background-color: lightgrey;
    position: relative;
}

h2{
    font-size: 40px;
    color: var(--pokeYellow);
    background-color: var(--pokeRed);
    text-align: center;
}

/* h2::before{
    content: " ";
    background-color: grey;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 34px;


} */

body{

    background-color: var(--pokeRed);
}


div{
    display: inline-block;


}

figure a{
    text-decoration: none;
    color: var(--;
    font-weight: bold;
}

figure a:hover{
    color: red;
}   