@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --pokeRed: hsl(350, 91%, 45%);
    --pokeBlu: hsl(203, 98%, 57%);
    --pokeYellow: hsl(48, 100%, 50%);
    --pokeGrey: hsl(0, 0%, 87%);
}

h1 a {
    font-size: 80px;
    color: var(--pokeYellow);
    text-decoration: none;
    font-weight: bold;
}

h1 a:hover {
    text-decoration: underline;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 50px;
    width: 300px;
    border-style: solid;
    border-width: 19px;
    border-color: var(--pokeBlu);
    background-color: var(--pokeGrey);
    position: relative;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 40px;
    color: var(--pokeYellow);
    background-color: var(--pokeRed);
    text-align: center;
    padding-top: none;
    margin-bottom: none;
}

h2::before {
    content: " ";
    background-color: var(--pokeRed);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 34px;
}

body {

    background-color: var(--pokeRed);
}


.pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

li span {
    display: block;
}

.pokemon figcaption {
    font-weight: bold;
    font-size: 24px;
}

.abilities ul li{
    list-style: none
}

.ability-name {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
    list-style: none
}